
<a th:fragment="recommendations (content)" href="/recipes/recommend">
	<img
			src="/icons/foodbowl-icon-1.png"
			alt="food bowl icon"
			class="icon"
	/>
</a>

<a th:fragment="shoppinglist (content)" href="/items/shoppinglist">
	<img
			src="/icons/shoppinglist-icon-1.png"
			alt="shopping list icon"
			class="icon"
	/>
</a>

<a th:fragment="scanner (content)" href="/scanner">
	<img
			src="/icons/barcode-icon-1.png"
			alt="barcode scanner icon"
			class="icon"
	/>
</a>

<a th:fragment="recipe-browser (content)" href="/recipes">
	<img
			src="/icons/recipe-browser-icon.png"
			alt="recipe-browser-icon"
			class="icon"
	/>
</a>

<a th:fragment="refresh (content)" onClick="window.location.href=window.location.href">
	<img
			src="/icons/refresh.png"
			alt="recipe-browser-icon"
			class="icon"

	/>
</a>

<a th:fragment="create-recipe (content)" href="/recipes/createrecipe">
	<img
			src="/icons/new-recipe-icon.png"
			alt="new recipe icon"
			class="icon"
	/>
</a>
