/*
global
login
createaccount
items
storage-spaces
scanner
raccomandations
create-recipe
welcome-page
browser
recipe
shoppinglist
profile
*/

body {
    --white: white;
    --dark-color: #B49FE5;
    --dark-color-transparent: rgba(147, 112, 216, 0.6);
    --light-color: rgb(230, 230, 250, 1);
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-color);
    --header-size: 60px;
    --view-selectors-height: 50px;
    --main-font: 'Raleway', sans-serif;
    font-family: var(--main-font);

    --box-shadow-up: 0px -5px 15px rgba(0, 0, 0, 0.2);
    --box-shadow-down: 2px 5px 15px rgba(0, 0, 0, 0.2);
    --button-shadow-down: 2px 5px 15px rgba(0, 0, 0, 0.3);

    --button-padding-tb: 10px;
    --button-padding-lr: 20px;

    --border-none: 0px solid var(--white);
    --button-radius: 25px;
    --button-color: lightgray;

}

.hidden {
    display: none !important;
}

.icon {
    --icon-width: 50px;
    width: var(--icon-width);
    height: var(--icon-width);
    margin: 4px;
}

.logo > .icon{
    --icon-width: 50px;
    --icon-margin: 4px;
    width: var(--icon-width);
    margin: var(--icon-margin);
}


h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}
.back-button > a > img{
    --back-button-width: 50px;
    --back-button-margin-width: 4px;
    --combined-back-button-width: calc(var(--back-button-width) + var(--back-button-margin-width));
    width: var(--back-button-width);
    margin: var(--back-button-margin-width);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.header-titles {
    font-size: 0.7em;
    height: var(--header-size);
    display: flex;
    justify-content: space-evenly;

}
.header-titles > h1 {
    margin-top: 0.5em;
}

.header-titles > a > h1 {
    padding: 10px 30px 5px 30px;
    border: 0 solid black;
    border-radius: 0 0 10px 10px;
}

.header-titles > a > h1[target="selected"] {
    background-color: var(--dark-color-transparent);
}


/* Search Bar start */
.button {
    padding: var(--button-padding-tb) var(--button-padding-lr);
    text-align: center;
    cursor: pointer;
    background-color: var(--white);
    border-radius: var(--button-radius);
    font-family: var(--main-font);
}

.button:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search-container {
    height: 50px;
    width: 50px;
    vertical-align: bottom;
}

.search-container > form {
    position: relative;
    height: 50px;
    width: 50px;
}

.search-container > form > .search:focus + .searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: var(--white);
    color: black;
}

.search-container > form > .search {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    position: absolute;
    bottom: -8px;
    left: auto;
    right: 0px;
    width: 0;
    height: calc(100% + 8px);
    padding: 0;
    outline: unset;
    border: unset;
    border-radius: 0 0 var(--button-radius) var(--button-radius);
    background-color: var(--dark-color);
    color: var(--white);
}

.search-container > form > .search:focus {
    width: 100vw;
    padding: 8px 16px;
}

.search-container > form > .searchbutton {
    display: inline-block;
    font-size: 22px;
    height: 50px;
    width: 50px;
}

.search-container > form > .searchbutton > img {
    width: var(--view-selectors-height);
    height: var(--view-selectors-height);
}
/* Search Bar end */


section {
    padding-bottom: 90px;
}


footer {
    width: calc(100vw - 20px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-color-transparent);
    border: 0 solid gray;
    border-radius: 10px 10px 0 0;
    box-shadow: var(--box-shadow-up);
}

footer > .footer-section {
    display: flex;
}

footer > .footer-section > .button-container {
    width: 70px;
    height: 70px;
    background-color: var(--white);
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-selectors {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 5px;
}

.styled-button-dark {
    border: 0 solid var(--dark-color-transparent);
    border-radius: 25px;
    padding: var(--button-padding-tb) var(--button-padding-lr);
    background-color: var(--dark-color-transparent);
    box-shadow: var(--button-shadow-down);
}

.styled-button-dark:hover {
    animation: to-white 0.1s ease;
    color: var(--white);
}

@keyframes to-white {
    0% {color: #000000;}
    50% {color: #777777;}
    100% {color: #FFFFFF;}
}

.styled-button-icon {
    border: 0 solid var(--dark-color-transparent);
    border-radius: 100%;
    background-color: var(--dark-color-transparent);
    box-shadow: var(--button-shadow-down);
}

.cook-this > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: var(--button-color);
    border-radius: var(--button-radius);
    box-shadow: var(--box-shadow-down);
}
/*global end*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*login start*/


.login-container{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-container > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.login-container > form > input{
    margin: 5px 0;
}

.login-container h1{
    margin: 0 0 20px;
    text-align: center;
}



/*login end*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*create account start*/



.createaccount-container{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.createaccount-container > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.createaccount-container > form > input{
    margin: 5px 0;
}



.createaccount-container h1{
    margin: 0 0 20px;
    text-align: center;
}



/*create account end*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* items start*/
body[id="items"] > header .header-titles{
    display: flex;
    justify-content: space-around;
}

body[id="items"] > header {
    display: flex;
    justify-content: space-between;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    --item-padding-width: 20px;
    --item-margin-width: 20px;
    --item-list-margin-width: 10px;
    --item-combined-spacing: calc(var(--item-margin-width) + var(--item-padding-width));
    display: flex;
    background-color: var(--white);
    border: 0 solid var(--white);
    border-radius: 10px;
    padding: calc(var(--item-padding-width) / 2);
    margin: calc(var(--item-margin-width) / 2);
    box-shadow: var(--box-shadow-down);
}

.item > .item-texts {
    display: flex;
    flex-direction: column;
}

.item > .item-texts > h4{
    font-size: 1em;
}

.item > .item-texts > h4 > .item-name {
    padding-right: 5px;
}

.item > .item-texts > :not(h4:first-child) {
    font-size: 0.7em;
}

.item > .item-texts > h4 > .ingredient-name-small {
    font-size: 0.8em;
    font-style: italic;
}

.item > .item-texts > h4:nth-child(2) > .item-quantity{
    padding-right: 5px;
}

.item > .modify-container {
    display: none;
    width: 100%;

}

.item > .exit-button {
    display: none;
    z-index: 1000;
}

.modify-container > .remove-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.remove-section > table {
    --header-heigth: 30px;
    background-color: lightgray;
    border: var(--border-none);
    border-radius: var(--button-radius);
    width: 75%;
    height: 90%;
    margin-right: 10px;
    box-shadow: var(--box-shadow-down);
}

.remove-section > table th {
    height: var(--header-heigth);
}

.remove-section > table td {
    text-align: center;
    background-color: var(--white);
    border: 5px solid lightgray;
    border-top: 2px;
}

.remove-section > table tr:first-child td {
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);
}

.remove-section > table tr:last-child td {
    border-bottom-left-radius: var(--button-radius);
    border-bottom-right-radius: var(--button-radius);
}

.remove-section > .change-to-add-button {
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    background-color: var(--button-color);
    border: var(--border-none);
    border-radius: var(--button-radius);
    box-shadow: var(--box-shadow-down);
}

.modify-container > .add-section {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modify-container > .add-section > .amount-editor {
    --flex-gap: 5px;
    --font-size: 36px;
    display: flex;
    gap: var(--flex-gap);
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 75%;
    font-size: var(--font-size);
    box-shadow: var(--box-shadow-down);
    border-radius: var(--button-radius);
}

.add-section > .amount-editor > * {
    height: 100px;
    width: 100%;
}

.add-section > .amount-editor > .multiply-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--flex-gap);
    background-color: var(--button-color);
    border-radius: 0 0 var(--button-radius) var(--button-radius);
}

.add-section > .amount-editor > .specific-amount {
    display: flex;
    justify-content: space-between;
    gap: var(--flex-gap);
}

.add-section > .amount-editor > .specific-amount > * {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-section > .amount-editor > .specific-amount > .amount-remove {
    background-color: var(--button-color);
    border-top-left-radius: var(--button-radius);

}

.add-section > .amount-editor > .specific-amount > .show-amount {
    background-color: var(--button-color);
}

.specific-amount > .show-amount > input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
    font-size: var(--font-size);
}

.specific-amount > .show-amount > input:focus {
    outline: none;
}

.add-section > .amount-editor > .specific-amount > .amount-add {
    background-color: var(--button-color);
    border-top-right-radius: var(--button-radius);

}

.add-section > .add-buttons {
    display: flex;
    justify-content: center;
    background-color: var(--button-color);
    border: var(--border-none);
    border-radius: var(--button-radius);
}

.add-section > input.add-buttons {
    border: none;
    font-size: inherit;
    width: 200px;
    height: 75px;
    padding: 25px 0;
    box-shadow: var(--box-shadow-down);
}

.add-buttons.back-button {
    background-color: unset;
    width: 100px;
    height: 20px;
    padding: 15px 0;
}

.item[look="image"] {
    flex-direction: column;
    width: calc(50% - var(--item-combined-spacing));
}

.item[look="image"] > .item-image > img {
    width: 100%;
}

.item[look="image"] > .item-texts > h4 {
    padding-bottom: 5px;
}

.item[look="list"] {
    --list-image-height: 35px;
    flex-direction: row;
    gap: 15px;
    --item-list-combined-spacing: calc(var(--item-list-margin-width) + var(--item-padding-width));
    width: calc(100% - var(--item-list-combined-spacing));
    margin: calc(var(--item-list-margin-width) / 2);
}

.item[look="list"] > .item-image {
    height: var(--list-image-height);
}

.item[look="list"] > .item-image > img {
    height: 100%;
}

.item[look="list"] > .item-texts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10%;
}


.item[look="list"] > .item-texts > h4:first-child {
    width: 100%;
}

body[item-selected="true"] section {
    height: calc(100% - var(--header-size));
    padding-bottom: 0;
}

body[item-selected="true"] section .items-container {
    height: calc(100% - var(--view-selectors-height));
}

body[item-selected="true"] > footer {
    display: none;
}

body[item-selected="true"] .item[change="none"] {
    display: none;
}

body[item-selected="true"] .item[change="selected"] {
    height: calc(100% - var(--item-combined-spacing));
    flex-wrap: wrap;
    position: relative;
    --edit-header-height: 60px
}

.item[change="selected"] > .exit-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.item[change="selected"] > .exit-button > img{
    width: 30px;
    padding: 5px;
}

.item[change="selected"] > .item-image {
    height: var(--edit-header-height);
    width: calc(30% - calc(var(--item-padding-width) / 2));
}

.item[change="selected"] > .item-texts {
    height: var(--edit-header-height);
    width: calc(70% - calc(var(--item-padding-width) / 2));
}

.item[change="selected"] > .item-texts > h4:last-child {
    display: none;
}

.item[change="selected"] > .modify-container {
    height: calc(calc(100% - var(--edit-header-height)) - calc(var(--item-combined-spacing) / 2));
    width: 100%;
    display: flex;
    align-items: center;
}

.modify-container[modify-mode="remove"] > .remove-section {
    display: flex;
}

.modify-container[modify-mode="remove"] > .add-section {
    display: none;
}

.modify-container[modify-mode="add"] > .remove-section {
    display: none;
}

.modify-container[modify-mode="add"] > .add-section {
    display: flex;
}

.item[product-size="1"] > .modify-container[modify-mode="add"] > .add-section > .back-button {
    display: none;
}

.modify-container[modify-mode="remove"] > .remove-section .remove_hover {
    background-color: var(--dark-color-transparent);
}



/* Items.css stop */
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* FROM storage-spaces.css */
.storage-spaces {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.storage-spaces > .storage-space {
    padding: 20px;
    margin: 10px;
    width: calc(50% - 60px);
    height: 130px;
    background-color: var(--white);
    border: 0 solid black;
    border-radius: 25px;
    box-shadow: var(--box-shadow-down);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.storage-spaces > .storage-space:hover,
.storage-spaces > .storage-space:focus {
    background-color: var(--dark-color-transparent);
}
/* Storage-spaces.css stop*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* START scanner.css*/

#scanner section {
    padding: 0;
}

.container {
    height: 100vw;
    position: relative;
}

.current-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vw;
    overflow: hidden;
}

.current-view > * {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.text-panel {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.text-panel > .scan-product-welcome {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.text-panel > form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.text-panel > form > *{
    width: 80%;
}

.text-panel > form > input[type="text"] {
    height: 30px;
    margin-bottom: 20px;
}

.text-panel > form > .submit-container {
    display: flex;
    justify-content: space-around;
}

.text-panel > form > .submit-container > input {
    width: calc(25% + calc(var(--button-padding-lr) * 2));
    height: calc(30px + calc(var(--button-padding-tb) * 2));
}

body[stage="scan"] *[view-stage="one"] {
    display: none;
}

body[stage="scan"]#scanner *[view-stage="two"] {
    display: none;
}

body[stage="scan"]#scanner form {
    display: none;
}

body[stage="one"]#scanner *[view-stage="scan"] {
    display: none;
}

body[stage="one"]#scanner *[view-stage="two"] {
    display: none;
}

body[stage="two"]#scanner *[view-stage="scan"] {
    display: none;
}

body[stage="two"]#scanner *[view-stage="one"] {
    display: none;
}

body[stage="two"]#scanner .text-panel > form {
    width: unset;
}

body[stage="two"]#scanner .text-panel > form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

body[stage="two"]#scanner .text-panel > form > div[view-stage="two"] {
    width: 100%;
}

body[stage="two"]#scanner .text-panel > form .storage-spaces {
    padding-bottom: 25px;
}

#scanner .storage-space {
    position: relative;
}

#scanner .storage-space input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-20px, -20px);
    margin: 0;
}

#scanner .storage-space[selected="true"] {
    background-color: var(--dark-color-transparent);
}

#scanner .submit-button-wrapper {
    display: flex;
    justify-content: center;
}

/* STOP scanner.css*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/


/* START recommendations */
.recommendations-recipe-container{
    --favorites-button-width: 20x;
    --favorites-button-height: 20px;
    --recipe-padding-width: 20px;
    --recipe-margin-width: 20px;
    --recipe-combined-spacing: calc(var(--recipe-margin-width) + var(--recipe-padding-width));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.recommendations-recipe-container > .recipe[look="image"] {
    background-color: var(--white);
    border: var(--border-none);
    border-radius: var(--button-radius);
    padding: calc(var(--recipe-padding-width) / 2);
    width: calc(100% - var(--recipe-combined-spacing));
    height: 500px;
    display: grid;
    grid-template-columns:
            [left-border]
            1fr [left-left-middle]
            1fr [left-middle]
            20px [right-middle]
            1fr [right-right-middle]
            1fr [right-border];
    grid-template-rows:
            [top-border]
            1fr [top-footer]
            60px [bottom-border];

}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container{
    grid-column: left-border / right-border;
    grid-row: top-border / top-footer;
    display: grid;
    grid-template-columns:
            [left-border]
            1fr [left-left-middle]
            1fr [left-middle]
            20px [right-middle]
            1fr [right-right-middle]
            1fr [right-border];
    grid-template-rows:
            [top-border]
            40px [title-bottom]
            1fr [top-middle]
            20px [bottom-middle]
            1fr [content-end]
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .recipe-image {
    background-color: #f2f2f2;
    border-radius: var(--button-radius);
    grid-column: left-border / left-middle;
    grid-row: top-border / top-middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .recipe-image > img{
    width: 100%;
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .favorites-button{
    width: var(--favorites-button-width);
    height: var(--favorites-button-height);
}
.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .favorites-button > img{
    width: var(--favorites-button-width);
    height: var(--favorites-button-height);
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .recipe-info {
    grid-column: right-middle / right-border;
    grid-row: top-border / top-middle;
    margin: 0;
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .recipe-info > h3 {
    font-size: 1.4em;
    font-weight: bolder;
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .recipe-info > p {
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .ingredients-you-need {
    grid-column: right-middle / right-border;
    grid-row: bottom-middle / content-end;
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .ingredients-you-have {
    grid-column: left-border / left-middle;
    grid-row: bottom-middle / content-end;
}

.recommendations-recipe-container > .recipe[look="image"] > .recipe-container > .ingredients-you-have .ingredients-you-need > .ingredients-list{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    color: green;
}

.recommendations-recipe-container > .recipe[look="image"] .cook-this {
    grid-column: right-middle / right-border;
    grid-row: top-footer / bottom-border;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0 5px 5px 0;
}

/* recipe look when in list form */
.recommendations-recipe-container > .recipe[look="list"] {
    --list-image-height: 100px;
    width: calc((100% - var(--recipe-combined-spacing)));
    height: 200px;
    padding: calc(var(--recipe-padding-width)/2);
    border-radius: 10px;
    background-color: var(--white);
    position: relative;
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:
            [left-border]
            1fr [image-right]
            5px [left-content]
            1fr [left-content-middle]
            5px [right-content-middle]
            1fr [right-border];
    grid-template-rows:
            [top-border]
            50px [middle]
            1fr [bottom-border];
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .recipe-image {
    grid-column: left-border / image-right;
    grid-row: top-border / bottom-border;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .recipe-image > img {
    height: auto;
    width: 100%;
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .recipe-info{
    grid-column: left-content / right-border;
    grid-row: top-border / bottom-border;
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .recipe-info > h3{
    font-size: 1.1em;
    width: 50%;
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .favorites-button{
    grid-area: favorite;
    display: flex;
    flex-direction: row-reverse;
}
.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .favorites-button > img{
    width: var(--favorites-button-width);
    height: var(--favorites-button-height);
}

.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .ingredients-you-need{
    display: none;
}
.recommendations-recipe-container > .recipe[look="list"] > .recipe-container > .ingredients-you-have{
    display: none;
}

.recommendations-recipe-container > .recipe[look="list"] > .cook-this {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 5px 0 0;
}
/* recipe look when in list form */
/* reccomandations stop*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* create recipe start*/


#title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body[id="create-recipe"] > .header-titles{
    border: 0 solid black;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
    left: -48px;
}


.new-recipe-section > .recipe-image > img{
    width: 100%;
    top: 0;
    position: relative;
    height: auto;
    vertical-align: middle;
}


.new-recipe-section > .create-recipe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.new-recipe-section > .create-recipe-form > .recipe-image{
    width:300px;
    height:300px;
}



.new-recipe-section > .create-recipe-form > .input[class="file"] {
    display: none;
}
.new-recipe-section > .create-recipe-form > #file-upload.file{
    display: none;
}

.new-recipe-section > .create-recipe-form > .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.new-recipe-section > .create-recipe-form > #recipe-description, #recipe-ingredients, #recipe-instructions{
    height: 100px;
}

/*create recipe stop*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*welcome page Starts*/



.welcome-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}


.banner h1,h5 {
    text-align: center;
}

.login-register{
    width: calc(100vw - 20px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-color-transparent);
    border: 0 solid gray;
    border-radius: 10px 10px 0 0;
}

/*welcome-page ends*/
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*Browser Starts */



.browser-recipes-section > .browser-recipes-container{
    --recipe-padding-width: 20px;
    --recipe-margin-width: 20px;
    --recipe-combined-spacing: calc(var(--recipe-margin-width) + var(--recipe-padding-width));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: calc(var(--recipe-padding-width) / 2);
}

.browser-recipes-container > .recipe[look="image"] {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    flex-wrap: wrap;
    padding: calc(var(--recipe-padding-width) / 2);
    margin: calc(var(--recipe-margin-width) / 2);
    width: calc(calc(100% - var(--recipe-padding-width)) - var(--recipe-margin-width));
}

.browser-recipes-container > .recipe[look="image"] > .recipe-image {
    width: 100%;
}


.browser-recipes-container > .recipe[look="image"] > .recipe-image > img {
    width: 100%;
    height: 100%;
}

.browser-recipes-container > .recipe[look="list"] > .recipe-texts > .recipe-tags{
    display: flex;
    flex-direction: row;
    /* create space between the items */
    justify-content: space-between;
}


.browser-recipes-container > .recipe[look="list"] {
    --list-image-height: 60px;
    --list-image-width: 60px;
    flex-direction: row;
    width: calc(100% - var(--item-combined-spacing));
    background-color: var(--white);
    border: 0 solid var(--white);
    border-radius: 10px;
    display: flex;
    padding: calc(var(--recipe-padding-width) / 2);
    margin: calc(var(--recipe-margin-width) / 2);
    gap: 10px;
}

.browser-recipes-container > .recipe[look="list"] > .recipe-image {
    height: var(--list-image-height);
    width: var(--list-image-width);
}

.browser-recipes-container > .recipe[look="list"] > .recipe-image > img {
    height: 100%;
}

/*Browser Ends */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*Recipe Starts */

.full-recipe-container > .recipe{
    --favorites-button-width: 20px;
    --favorites-button-height: 20px;
    --recipe-padding-width: 20px;
    --recipe-margin-width: 20px;
    --recipe-combined-spacing: calc(var(--recipe-margin-width) + var(--recipe-padding-width));
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.full-recipe-container > .recipe > .recipe-image{
    --recipe-image-width: 300px;
    --recipe-image-height: 300px;
    width: var(--recipe-image-width);
    height: var(--recipe-image-height);
}

.full-recipe-container > .recipe > .recipe-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-recipe-container > .recipe > .recipe-info > .recipe-description{
    width: calc(100% - var(--recipe-image-width) - var(--recipe-combined-spacing));
    text-align: center;

}

.full-recipe-container > .recipe > .recipe-info{
    width: calc(100% - var(--recipe-image-width) - var(--recipe-combined-spacing));
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;

}
/*Recipe Ends */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*Shopping list Starts */




/*Shopping List Ends */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*Profile Starts */

body[id="profile"] > section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body[id="profile"] > section > .profile-texts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body[id="profile"] > section > .profile-image{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
body[id="profile"] > section > .profile-image > img{
    width: 100%;
    height: 100%;
}


.tags-edit {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tags-edit > form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tags-edit > form > select {
    width: 90%;
    height: 200px;
}

.tags-edit > form > .tag-edit-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tags-edit > form[status="none"] input, .discard-changes {
    display: none;
}

.tags-edit > form[status="edit"] .edit-tags {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.modal-header > .modal-title{
    font-size: 30px;
    font-weight: bold;
    order: -1;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modal-body > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





/*Profile Ends */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/

