<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head :: head (${title})"></head>
	<body>
	<header th:replace="fragments/header :: header (${headerList})"></header>
	<script src="/js/app.js" defer></script>
	<section class="browser-recipes-section">
		<div class="view-selectors">
			<img
					src="/icons/list-icon-1.png"
					alt=""
					class="icon"
					id="list-view-button"
			/>
			<img
					src="/icons/image-icon-1.png"
					alt=""
					class="icon"
					id="image-view-button"
			/>
		</div>
		<div class="browser-recipes-container">
			<a class="recipe" look="image" change="none" th:each="recipe : ${recipes}" th:href="${'/recipes/' + recipe.id}">
				<div class="recipe-image">
					<img
							src="/images/filler-image.png"
							alt="recipe image"
					/>
				</div>
				<div class="recipe-texts">
					<span class="recipe-name" th:utext="${recipe.name}"></span>
					<h3>
						Time Estimate:
						<span class="recipe-time" th:utext="${recipe.time.toString()}"></span>
					</h3>
				</div>
			</a>
		</div>
	</section>
		<footer th:replace="fragments/footer :: footer (${leftFooterList}, ${rightFooterList})"></footer>
	</body>
</html>
