<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head :: head (${title})"></head>
	<body>
	<header th:replace="fragments/header :: header (${headerList})"></header>
		<section class="recipes-section">
			<div class="recipes-container">
				<div class="recipe" look="image" change="none">
					<div class="recipe-image">
						<img
								src="/images/filler-image.png"
								alt="recipe image"
						/>
					</div>
					<div class="recipe-texts">
						<span class="recipe-name">Recipe Name</span>
						<h5>
							Time Estimate:
							<span class="recipe-time">30 min</span>
						</h5>
						<ul class="recipe-tags">
							<li>tag1</li>
							<li>tag2</li>
							<li>tag3</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<footer th:replace="fragments/footer :: footer (${leftFooterList}, ${rightFooterList})"></footer>
	</body>
</html>
