<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head :: head (${title})"></head>
	<body id="create-recipe">
		<header th:replace="fragments/header :: header (${headerList})"></header>

		<section class="new-recipe-section">
			<!-- <div class="recipe-image">
				<img
					src="../resources/images/filler-image.png"
					alt="recipe image"
					class="recipe-image"
				/>
			</div> -->
			<form class="create-recipe-form" method="post">
				<input
						type="image"
						src="/images/filler-image.png"
						alt="camera icon"
						class="icon"
				/>
				<input type="file" accept="image/*" />

				<label for="recipe-name">Recipe Name</label>
				<input name="recipe-name" id="recipe-name" type="text"  />

				<label for="recipe-description">Description</label>
				<input name="recipe-description" id="recipe-description" type="text" />

				<label for="cooking-steps">Cooking Steps</label>
				<div id="cooking-steps">
					<input name="cooking-step" class="cooking-step" type="text" required/>
				</div>
				<input id="add-cooking-step" type="button" value="add-step">

				<label for="recipe-ingredients">Ingredients</label>
				<div id="recipe-ingredients">
					<div id="added-ingredients">

					</div>
					<div id="ingredient-adder">
						<select id="ingredient-name" required>
							<option
									th:each="ingredient : ${ingredients}"
									th:value="${ingredient.id}"
									th:utext="${ingredient.name}">
							</option>
						</select>
						<input id="ingredient-amount" type="number" value="amount" required>
						<input type="button" id="add-ingredient" value="add-ingredient">
					</div>
				</div>

				<label for="recipe-time">Estimated Time</label>
				<select name="recipe-time" id="recipe-time">
					<option value="QUICK">quick</option>
					<option value="MEDIUM">medium</option>
					<option value="LONG">long</option>
				</select>
				<select name="recipe-difficulty" id="recipe-difficulty">
					<option value="EASY">easy</option>
					<option value="MEDIUM">medium</option>
					<option value="HARD">hard</option>
				</select>
				<input type="submit" value="submit" />
			</form>
		</section>
		<script src="/js/createrecipe.js"></script>
	</body>
</html>
