<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head :: head (${title})"></head>

	<body item-selected="false" id="items">
		<header th:replace="fragments/header :: header (${headerList})"></header>
		<section class="items-section">
			<div class="view-selectors">
				<img
						src="/icons/list-icon-1.png"
						alt=""
						class="icon"
						id="list-view-button"
				/>
				<img
						src="/icons/image-icon-1.png"
						alt=""
						class="icon"
						id="image-view-button"
				/>
			</div>
			<div class="items-container">
				<div class="item" look="image" change="none" th:each="product: ${products}">
					<div class="item-image">
						<img
								src="/images/filler-image.png"
								alt=""
						/>
					</div>
					<div class="item-texts">
						<h4>
							<span class="item-name" th:text="${product.productName}"></span><span class="ingredient-name-small" th:text="${product.name}"></span>
						</h4>
						<h4>
							Quantity:
							<span class="item-quantity" th:text="${' ' + product.quantity}"> </span>
							<span th:unless="${product.size == 1}">
								Size:
								<span class="item-size" th:text="${product.size}"></span>
							</span>
						</h4>
						<h4>Location: <span class="item-location" th:text="${product.pantryZoneName}"></span></h4>
					</div>
					<div class="modify-container" modify-mode="remove">
						<div class="remove-section">
							<table>
								<thead>
								<tr>
									<th>Package amount</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>100%</td>
								</tr>
								<tr>
									<td>50%</td>
								</tr>
								<tr>
									<td>25%</td>
								</tr>
								<tr>
									<td>0%</td>
								</tr>
								</tbody>
							</table>
							<div class="change-to-add-button">+</div>
						</div>
						<form class="add-section">
							<div class="amount-editor">
								<div class="specific-amount">
									<div class="amount-remove">-</div>
									<div class="show-amount">
										<input type="number" maxlength="3" />
									</div>
									<div class="amount-add">+</div>
								</div>
								<div class="multiply-amount">x2</div>
							</div>
							<input
									class="add-buttons"
									type="submit"
									placeholder="update"
							/>
							<div class="add-buttons back-button">back</div>
						</form>
					</div>
					<div class="exit-button">
						<img src="/icons/exit-icon-1.png" alt="" />
					</div>
				</div>
			</div>
		</section>

		<footer th:replace="fragments/footer :: footer (${leftFooterList}, ${rightFooterList})"></footer>


	</body>
	<script src="/js/app.js" ></script>
</html>
