<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head :: head (${title})"></head>

	<body id="login">
		<div class="login-container">
			<h1>Login</h1>
			<form method="POST">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" />

				<label for="password">Password</label>
				<input type="password" name="password" id="password" />

				<input type="submit" value="login" id="submit" />
			</form>
		</div>

	</body>
	<script src="/js/login.js" ></script>
</html>