<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${title})"></head>
<body>
<header th:replace="fragments/header :: header (${headerList})"></header>

<section class="areas-section">

    <div class="storage-spaces" >
        <a th:each="pantryZone, iStat: ${pantryZones}" th:href="${ '/items/pantry-zones/' + pantryZone.id}" class="storage-space">
            <div>
                <img th:src="${ '/icons/fridge-icon-1.png' }"
                     th:alt="${pantryZone.name + ' icon'}"
                     th:class="icon"
                />

                <h3 th:text="${pantryZone.name}"></h3>
				<span class="pantry-temp" th:utext="${' C '}"></span>
				<span class="pantry-hum" th:utext="${' RH '}"></span>
				<span class="pantry-brightness" th:utext="${' '}"></span>
            </div>
        </a>
    </div>
    <a href="/addPantryZone">
        <div class="add-pantry-zone">
            <button id="add-pantry-zone-btn">
                Add Pantry Zone
            </button>
        </div>
    </a>


</section>

<footer th:replace="fragments/footer :: footer (${leftFooterList}, ${rightFooterList})"></footer>
</body>
</html>
