<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${title})"></head>
<body>
<header th:replace="fragments/header :: header (${headerList})"></header>

<section class="areas-section">
    <div class="storage-spaces" th:each="pantryZone: ${pantryZones}">
        <a th:href="${ '/pantry-zones/' + pantryZone.id}" class="storage-space">
            <div>
                <img th:src="${ '/icons/fridge-icon-1.png' }"
                     th:alt="${pantryZone.name + ' icon'}"
                     th:class="icon"
                />

                <h3 th:text="${pantryZone.name}"></h3>
				<span class="pantry-temp" th:utext="${' C '}"></span>
				<span class="pantry-hum" th:utext="${' RH '}"></span>
				<span class="pantry-brightness" th:utext="${' '}"></span>
            </div>
        </a>
    </div>
</section>

<footer th:replace="fragments/footer :: footer (${leftFooterList}, ${rightFooterList})"></footer>
</body>
</html>
