<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${title})"></head>
<body>
<header th:replace="fragments/header :: header (${headerList})"></header>

<section class="areas-section">

    <div class="storage-spaces" >
        <a th:each="pantryZone, iStat: ${pantryZones}" th:href="${ '/items/pantry-zones/' + pantryZone.id}" th:class="${pantryZone.enviroOutOfRange ? 'enviroOutOfRange storage-space' : 'storage-space'}">
            <div>
                <img th:src="${ '/icons/fridge-icon-1.png' }"
                     th:alt="${pantryZone.name + ' icon'}"
                     th:class="icon"
                />

                <h3 th:text="${pantryZone.name}"></h3>
                <span th:if="${pantryZone.sensorBoxCode != ''}" class="pantry-temp" th:text="${pantryZone.latestTemp + ' C '}"></span>
                <span th:if="${pantryZone.sensorBoxCode != ''}" class="pantry-hum" th:text="${pantryZone.latestHum + ' RH '}"></span>
                <span th:if="${pantryZone.sensorBoxCode != ''}" class="pantry-brightness" th:text="${pantryZone.latestBright + ' '}"></span>
            </div>
        </a>
    </div>
        <div class="add-pantry-zone">
            <button id="add-pantry-zone-btn">
                Add Pantry Zone
            </button>
        </div>
    <div id="add-pantry-zone-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <span class="modal-title">Add Pantry Zone</span>
            </div>
            <div class="modal-body">
                <form method="POST" action="/items/addPantryZone">
                    <label for="newPantryZoneName">Name</label>
                    <input type="text" id="newPantryZoneName" name="newPantryZoneName" placeholder="Name" required>
                    <input type="submit"  value="submit" />
                </form>
            </div>
        </div>
    </div>


</section>

<footer th:replace="fragments/footer :: footer (${leftFooterList}, ${rightFooterList})"></footer>
</body>
<script src="/js/pantryZones.js"></script>
</html>
