<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head (${title})"></head>
    <body id="profile">
        <header th:replace="fragments/header :: header (${headerList})"></header>
            <section>
                <div class="profile-image">
                    <img src="/images/filler-image.png" alt="">
                </div>
                <div class="profile-texts">
                    <h4>
                        <span class="profile-name" th:text="${username}"> </span>
                    </h4>
                    <h4>
                        <span class="profile-email" th:text="${email}"> </span>
                    </h4>
                </div>
                <div class="profile-buttons">
                    <button id="edit-button" class="button" >Edit Profile</button>
                    <button class="button">Change Password</button>
                    <a href="/profile/logout"> <button class="button">Logout</button> </a>
                </div>
                <div class="tags-edit">
                    <form method="post" id="like-edit-form" status="none" action="/profile/editLikes">
						<div class="tag-edit-header">
							<h4>You Like:</h4>
							<button class="edit-tags" type="button" id="edit-likes">edit likes</button>
							<input type="submit" value="save">
						</div>
						<select name="liked-tags" class="js-example-placeholder-multiple js-states form-control" multiple="multiple" disabled>
							<option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == 1}" th:value="${key.id}" th:text="${key.name}" selected></option>
							<option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == 0}" th:value="${key.id}" th:text="${key.name}"></option>
						</select>
					</form>
					<form method="post" id="dislike-edit-form" status="none" action="/profile/editDislikes">
						<div class="tag-edit-header">
							<h4>You dont like:</h4>
							<button class="edit-tags" type="button" id="edit-dislikes">edit dislikes</button>
							<input type="submit" value="save">
						</div>
						<select name="disliked-tags" class="js-example-placeholder-multiple js-states form-control" multiple="multiple" disabled>
							<option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == -1}" th:value="${key.id}" th:text="${key.name}" selected></option>
							<option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == 0}" th:value="${key.id}" th:text="${key.name}"></option>
						</select>
                    </form>
                </div>
            </section>
    </body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/profile.js"></script>
</html>