<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head (${title})"></head>
    <body id="profile">
        <header th:replace="fragments/header :: header (${headerList})"></header>
            <section>
                <div class="profile-image">
                    <img src="/images/filler-image.png" alt="">
                </div>
                <div class="profile-texts">
                    <h4>
                        <span class="profile-name" th:text="${username}"> </span>
                    </h4>
                    <h4>
                        <span class="profile-email" th:text="${email}"> </span>
                    </h4>
                </div>
                <div class="profile-buttons">
                    <button class="button" id ="edit-profile-btn">Edit Profile</button>
                    <button class="button" id="change-password-btn">Change Password</button>
                    <a href="/profile/logout"> <button class="button">Logout</button> </a>
                </div>
                <div class="tags-edit">
                    <form method="post" id="like-edit-form" status="none" action="/profile/editLikes">
                        <div class="tag-edit-header">
                            <h4>Your Likes:</h4>
                            <button class="edit-tags" type="button" id="edit-likes">Edit Likes</button>
                            <input type="submit" value="save">
                        </div>
                        <select name="liked-tags" class="js-multiple js-states form-control" multiple="multiple" disabled>
                            <option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == 1}" th:value="${key.id}" th:text="${key.name}" selected></option>
                            <option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == 0}" th:value="${key.id}" th:text="${key.name}"></option>
                        </select>
                    </form>
                    <form method="post" id="dislike-edit-form" status="none" action="/profile/editDislikes">
                        <div class="tag-edit-header">
                            <h4>Your Dislikes:</h4>
                            <button class="edit-tags" type="button" id="edit-dislikes">Edit Dislikes</button>
                            <input type="submit" value="save">
                        </div>
                        <select name="disliked-tags" class="js-multiple js-states form-control" multiple="multiple" disabled>
                            <option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == -1}" th:value="${key.id}" th:text="${key.name}" selected></option>
                            <option th:each="key : ${tagMap.keySet()}" th:if="${tagMap.get(key).getVal() == 0}" th:value="${key.id}" th:text="${key.name}"></option>
                        </select>
                    </form>
                </div>

                <div id="password-modal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <span class="modal-title">Change Password</span>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/profile/editPassword">
                                <label for="password">New Password</label>
                                <input required type="password" id="password" name="password"/>

                                <label for="confirm-password">Confirm Password</label>
                                <input required type="password" id="confirm-password" name="confirm-password"/>
                                <input type="submit"  value="submit" />
                            </form>
                        </div>
                    </div>
                </div>
                <div id="edit-profile-modal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <span class="modal-title">Edit Profile</span>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/profile/editProfile">
                                <label for="username">New Username</label>
                                <input type="text" id="username" name="username"/>
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName"/>
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName"/>
                                <label for="city">City</label>
                                <input type="text" id="city" name="city"/>
                                <label for="stateRegion">State/Region</label>
                                <input type="text" id="stateRegion" name="stateRegion"/>
                                <label for="country">Country</label>
                                <input type="text" id="country" name="country"/>
                                <input type="submit" value="submit" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="edit-sensor-boxes">
                    <div class="all-sensor-boxes">
                        <div class="sensor-box" sensor-id="123451">
                            <img src='/icons/sensor-box.png'
                                    class="sensor-box-image"
                                    alt="sensor box icon"
                            />
                            <div class="sensor-box-text">
                                <h4>
                                    Location:
                                    <span class="pantry-zone-name">Fridge</span>
                                </h4>
                                <h4>
                                    Temperature:
                                    <span class="sensorBox-temp">10*</span>
                                </h4>
                                <h4>
                                    Humidity:
                                    <span class="sensorBox-hum">50%</span>
                                </h4>
                                <h4>
                                    Brightness:
                                    <span class="sensorBox-Brightness">10lum</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="sensor-box-editor-modal" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <span class="modal-title">Edit Sensor Box</span>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/profile/editSensorBox">
                                    <label for="sensor-id">Sensor Box ID</label>
                                    <input type="text" id="sensor-id" name="sensor-box-id" disabled/>
                                    <label for="new-pantry-zone">New Location</label>
                                    <select id="new-pantry-zone" name="pantry-zone">
                                        <option value="" disabled selected>Select Pantry Zone</option>
                                    </select>
                                    <label for="temp-lower-limit">Temperature Lower Limit</label>
                                    <input type="number" id="temp-lower-limit" name="temp-lower-limit" placeholder="Lower Limit"/>
                                    <label for="temp-upper-limit">Temperature Upper Limit</label>
                                    <input type="number" id="temp-upper-limit" name="temp-upper-limit" placeholder="Upper Limit"/>
                                    <label for="hum-lower-limit">Humidity Lower Limit</label>
                                    <input type="number" id="hum-lower-limit" name="hum-lower-limit" placeholder="Lower Limit"/>
                                    <label for="hum-upper-limit">Humidity Upper Limit</label>
                                    <input type="number" id="hum-upper-limit" name="hum-upper-limit" placeholder="Upper Limit"/>
                                    <label for="brightness-lower-limit">Brightness Lower Limit</label>
                                    <input type="number" id="brightness-lower-limit" name="brightness-lower-limit" placeholder="Lower Limit"/>
                                    <label for="brightness-upper-limit">Brightness Upper Limit</label>
                                    <input type="number" id="brightness-upper-limit" name="brightness-upper-limit" placeholder="Upper Limit"/>
                                    <input type="submit" value="submit" />
                                </form>
                            </div>
                        </div>
                    </div>

                    <button class="button" id="add-sensor-box-btn">
                        Add Sensor Box
                    </button>

                    <div id="add-sensor-box-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <span class="modal-title">Add Sensor Box</span>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/profile/addSensorBox">
                                    <label for="sensor-box-code"> Sensor Box Code</label>
                                    <input required type="text" id="sensor-box-code" name="sensor-box-code"/>
                                    <label for="select-pantry-zone">Choose Pantry Zone</label>
                                    <select id="select-pantry-zone" name="pantry-zone">
                                        <option value="" disabled selected>Select Pantry Zone</option>
                                    </select>
                                    <div id="no-zones-error" class="error"> No Pantry Zones Added</div>
                                    <input id="submit-sensor-box" type="submit"  value="submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/profile.js"></script>
</html>