<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr><td>Id</td><td>Username</td><td>First Name</td><td>Last Name</td><td>Email</td><td>City</td><td>State Region</td><td>Zip</td><td>Country</td></tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.city}"></td>
        <td th:text="${user.stateRegion}"></td>
        <td th:text="${user.zip}"></td>
        <td th:text="${user.country}"></td>
    </tr>
</table>

</body>
</html>